<div class="container">

  <form class="row mt-3 gx-3 gy-2 align-items-center justify-content-center">
    <div class="col-sm-6">
      <label for="specificSizeInputName" class="visually-hidden">Wish</label>
      <input type="text" name="wishText" class="form-control" [(ngModel)]="newWishText">
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" type="submit" (click)="$event.preventDefault(); addWish()">Add Wish</button>
    </div>
  </form>

  <div class="row mt-3">
    <div class="col-sm-2">
      <select class="form-select" [(ngModel)]="listFilter" (ngModelChange)="filterChanged($event)">
        <option value="0">All</option>
        <option value="1">Unfulfilled</option>
        <option value="2">Fulfilled</option>
      </select>
    </div>
  </div>

  <div *ngIf="items.length==0; then noItems else showItems">
  </div>
  <ng-template #noItems>
    There are no wishes to display
  </ng-template>
  <!-- we cannot have to structural directives on the same element -->
  <ng-template #showItems>
    <ul *ngIf="visibleItems.length>0" class="wish-list">
      <li *ngFor="let item of visibleItems; index as ii">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" [checked]="item.isCompleted" [attr.data-index]="ii"
              (click)="toggleItem($event,item)">
            {{item.wishText}}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>
  <!-- <div *ngIf="items.length==0">
    There are no wishes to display
  </div>
  <ul *ngIf="items.length>0" class="wish-list">
    <li *ngFor="let item of items">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" type="checkbox"> {{item.wishText}}
        </label>
      </div>
    </li>
  </ul> -->
</div>