<!-- This is the html template for the app component -->

<div class="container">

  <form class="row mt-3 gx-3 gy-2 align-items-center justify-content-center">
    <div class="col-sm-6">
      <label class="visually-hidden">
      </label>
      <input name="new-wish-text" [(ngModel)]="newWishText" type="text" class="form-control">
    </div>
    <div class="col-auto">
      <button (click)="$event.preventDefault();addWishItem()" type="submit" class="btn btn-primary">Add Wish</button>
    </div>
  </form>
  <div class="row mt-3">
    <div class="col-sm-2">
      <select class="form-select" [(ngModel)]="listFilter" (ngModelChange)="filterChange($event)">
        <!-- The $event contains the new value of the model here -->
        <option value="0">All</option>
        <option value="1">Unfulfilled</option>
        <option value="2">Fulfilled</option>
      </select>
    </div>
  </div>
  <div class="row mt-3">
    <div *ngIf="visibleItems.length==0;then noItems else showItems">
    </div>
    <ng-template #noItems>
      <div *ngIf="items.length==0">
        No wishes to display
      </div>
    </ng-template>
    <ng-template #showItems>
      <ul class="wish-list" *ngIf="visibleItems.length>0">
        <li *ngFor="let item of visibleItems;index as ii">
          <div class="form-check">
            <label class="form-check-label">
              <input [checked]="item.isComplete" checked="{{item.isComplete}}" type="checkbox" class="checkbox"
                [attr.data-index]="ii" (change)="toggleItem($event,item)">{{item.wishText}}
            </label>
          </div>
        </li>
      </ul>
    </ng-template>
  </div>
</div>
<!-- 
  The same element can't have more than one structural directive
Directives:[
  <div *ngIf="condition">Element will be rendered if condition is true.</div>
  
  <div *ngFor="let item of items">{{item}}</div>


  NgSwitch: This is a structural directive that adds/removes DOM elements based on a given condition.
  <div [ngSwitch]="value">
    <div *ngSwitchCase="'case1'">Case 1 content here</div>
    <div *ngSwitchCase="'case2'">Case 2 content here</div>
    <div *ngSwitchDefault>Default case content here</div>
  </div>

  NgClass: This is an attribute directive that adds or removes CSS classes based on the expression evaluation.
  <div [ngClass]="{'class1': condition1, 'class2': condition2}">...</div>

  <div [ngStyle]="{'font-size': '12px', 'color': 'blue'}">...</div>
]


Binding data to properties:[
  [javascriptProperty]:'javascript expression'
  [attr.customAttribute]:'javascript expression'
]

Binding events:[
  (event):'javascript expression'
]

NgModel: This is a directive used in forms to bind
the value of an input element to a variable:[
<input [(ngModel)]="variable" />

(ngModelChange):This is an event that occurs only when the model changes
So we can only use this event on elements that use the ngModel directive
]

-->